cryptography==2.1.4
cufflinks==0.17.3
decorator==4.4.2
dill==0.3.1.1
gensim==3.8.3
importlib-metadata==1.6.1
ipython==7.14.0
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
launchpadlib==1.10.6
matplotlib==3.2.1
nltk==3.5
notebook==6.1.5
numpy==1.18.5
oauth==1.0.1
opencv-python==4.2.0.34
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
pdf2image==1.13.1
Pillow==7.1.2
plotly==4.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
pymacaroons==0.13.0
PyMySQL==0.9.3
PyPDF2==1.26.0
pytesseract==0.3.4
QtPy==1.9.0
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
simplejson==3.13.2
six==1.14.0
smart-open==2.0.0
spacy==3.0.0.dev8
sqlparse==0.3.1
srsly==2.0.1
word2number==1.1
Flask==1.1.2
xlrd==1.2.0
gensim==3.8.3
jieba==0.42.1

